footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FF385C;
    color: white;
    padding:30px 0px;
    margin-top:10px;
    justify-content: space-evenly;
}