header{
    width: 90%;
    margin:10px 0;
    padding: 0px 5% 20px 5%;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
}
#navigation{
    justify-content: space-between;
    display: flex;
    font-size: medium;
}

#logo {
    color: #FF385C;
    font-weight: 700;
    font-size: 25px;
}

.group {
    width: auto;
    display: flex;
    align-items: center;
}
.group > div {
    text-align: center;
    display: flex;
    margin:2% 5%;
    padding:20px;
    border-radius: 10px;
    line-height: normal;
}

.group > div:hover {
    background-color: gray;
}

#profile{
    display:flex;
    margin: none;
    border-radius: 20px;
    border:1px solid gray;
    height: 30px;
}
#profile > * {
    padding: 5px;
    margin: none;
}

/* SEARCH BAR */
#searchBar {
    width: 60%;
    margin:10px auto;
    padding: 10px 5px 5px 10px;
    font-size: 30px;
    border: 1px solid lightgray;
    border-radius:50px;
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
font-size: large;
}
*>focus, #searchBar>div > input {
    outline: none;
    border: none;
}

.vSep {
    width: 1px;
    background-color: lightgray;
    height: 30px;
    padding:0px 0px 10px 0px;
}

#searchBar> div > label {
    font-weight:500;
    text-align: left;
    font-size: smaller;
}

input, label {
    display: block;
}

#searchBar> button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    float: right;
    font-size: large;
    background: none;
    background-color:#FF385C;
    color: white;
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
    margin-top: -5px;
    margin-right:-10px;
}

.filter {
    display: flex;
    justify-content: space-evenly;
}


/* Options */
option, select {
    font-size: large;
    border:none;
    text-decoration: none;
    background-color: #FF385C;
    color: white;
    padding: 5px 10px;
}

option:active, select:active, option:focus, select:focus{
    font-size: large;
    border:none;
    text-decoration: none;
    background-color: #FF385C;
    color: white;
    padding: 5px 10px;    
}
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 8px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #FF385C; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin-top: 2px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slid {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slid:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slid {
    background-color: #FF385C;
  }
  
  input:focus + .slid {
    box-shadow: 0 0 1px #FF385C;
  }
  
  input:checked + .slid:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
  }
  
  /* Rounded sliders */
  .slid.round {
    border-radius: 18px;
  }
  
  .slid.round:before {
    border-radius: 50%;
  }