.postingTile {
    position: relative;
    display: inline-block;
    width:280px;
    margin: 5px;
    height: auto;
    background-color: white;
    color: rgb(101, 101, 101);
}
 .img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 0.8/0.8;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 5px;
    background-position: center center;
}

.rating {
    float: right;
}

.price, .location {
    font-weight: 550;
    color: black;
    font-size: large;
}

.postingTile > div:nth-child(5) {
    margin-top: 5px;
}